Урок 5 (Циклы while)

In [12]:
''' Найдите сумму четных чисел от 1 до 100 включительно. '''

i = 0
summary = 0

while i <= 100:
    if i%2 == 0:
        summary += i
    i += 1

print(summary)

2550

In [13]:
''' Вклад в банке составляет 1000 рублей. Каждый год он увеличивается на 5.5%. Проценты добавляются к вкладу.
Определите, через сколько лет вклад станет больше 2000 рублей. '''

i = 0
vklad = 1000

while vklad <= 2000:
    vklad *= 1.055
    i += 1

print (vklad)
print (i)

2005.7738974757522
13

In [14]:
''' Вклад в банке составляет 1000 рублей и ежегодно увеличивается на 5.5% от текущей суммы.
Напишите программу, которая будет каждый год увеличивать сумму вклада на 5.5% и проверять получившееся значение.
Если сумма после прибавления процентов меньше или равна 1500 рублям, программа должна вывести сообщение «слишком мало».
Как только сумма превышает 1500 рублей, программа должна прекратить текущий виток цикла, но продолжить суммирование.
Цикл должен остановиться, когда сумма превысит 2300 рублей.'''

i = 0
j = 0
vklad = 1000

while vklad <= 2300:
    vklad *= 1.055
    j += 1
    if vklad <= 1500:
        print('Слишком мало')
        i += 1
    else:
        continue

    
print(vklad)
print(i)
print(j)

Слишком мало
Слишком мало
Слишком мало
Слишком мало
Слишком мало
Слишком мало
Слишком мало
2355.2626993110357
7
16

In [15]:
''' Вам дан набор значений: нижняя граница диапазона, верхняя граница диапазона и контрольное число. 
Ваша задача — написать цикл, который будет увеличивать значение верхней границы диапазона на 10 до тех пор, пока контрольное число не войдет в диапазон. 
Ответом будет число итераций, за которые мы смогли увеличить верхнюю границу диапазона до контрольного числа.

Нижняя граница диапазона: ln(100) (натуральный логарифм, логарифм по основанию e ≈ 2.7)
Верхняя граница диапазона: квадратный корень из 144
Контрольное значение: логарифм по основанию 2 от 8, возведённый в 4-ю степень'''

import math

lower_border = math.log(100)
upper_border = math.sqrt(144)
control_metric = pow(math.log(8,2), 4)
i = 0

while control_metric > upper_border:
    upper_border += 10
    i += 1

print(lower_border)
print(upper_border)
print(control_metric)
print(i)

4.605170185988092
82.0
81.0
7

Мини-кейс №4

In [28]:
n=[70000, 60000, 60000, 90000, 100000, -20000, 40000, 70000]

workers_salary = 0
workers_count = 0
i = 0

while i < len(n):
    if n[i] < 100000 and n[i] > 0:
        workers_salary += n[i]
        workers_count += 1
    i += 1

print(workers_salary)
print(workers_count)
print(workers_salary/workers_count)

390000
6
65000.0

Мини-кейс №5

In [31]:
operation = 0
cash = 0
opearation_count = 0

while True:
    operation = int(input())
    if operation > 0 and operation <= 100000:
        cash += operation
        opearation_count += 1
    elif operation == -1:
        break
    else:
        continue

print(cash)
print(opearation_count)

 100000
 -40000
 50000
 40000
 10000
 150000
 -1

200000
4

Урок 6 (Циклы с for)

In [35]:
''' Даны два целых числа: 10 и 29. Посчитайте сумму всех чисел, лежащих между ними, включая пограничные значения.

Внесите в поле ответа получившуюся сумму.'''

a = 10
b = 29
summary = 0

for i in range(a,b+1):
    summary += i

print(summary)

390

In [38]:
''' Даны два целых числа: 10 и 29. Посчитайте сумму всех четных чисел, лежащих между ними, включая пограничные значения. 
При переборе чисел используйте continue, чтобы пропустить нечётные значения.
Внесите в поле ответа получившуюся сумму.'''

a = 10
b = 29
summary = 0

for i in range(a,b+1):
    if i%2 != 0:
        continue
    summary += i
    
print(summary)

190

In [42]:
''' Посчитайте факториал числа 19.'''

a = 19
factorial = 1

for i in range(1,a + 1):
    factorial *= i

print(factorial)

121645100408832000

In [46]:
''' Вы начинаете вычислять факториал числа 19, то есть перемножаете по порядку числа от 1 до 19.
Остановите цикл, как только промежуточное значение факториала станет больше или равно 40320.
На каком числе из последовательности (от 1 до 19) цикл остановился, потому что факториал стал больше или равен 40320?'''

a = 19
factorial = 1

for i in range(1,a + 1):
    factorial *= i
    if factorial >= 40320:
        break

print(i)

8

In [50]:
''' Давайте выполним вторую часть задания из теоретической части, в которой необходимо посчитать количество продаж на один месяц стажа сотрудника. 
Данные о сотрудниках представлены в виде списков: '''

name = ['Федор', 'Михаил', 'Анна']  # имя
surname = ['Михайлов', 'Астафьев', 'Муртазина'] # фамилия
exp_month = [11, 22, 10]  # стаж
cnt_sale = [33, 22, 44]  # количество продаж
FIO = list()
sales_month = list()

'''Создайте цикл, который переберет значения и сформирует новый список. Для подсчета продаж на один месяц стажа сотрудника разделите количество продаж на стаж. 
Создайте цикл, который переберет значения и сформирует новый список продаж в месяц стажа — sale_pm. Для подсчета продаж в месяц используйте формулу: sale_pm=cnt_sale/exp_month. 
В ответ запишите значение получившегося списка с индексом 2. Не забывайте, что полученное значение имеет тип float.'''

for i in range(len(name)):
    FIO.append(name[i] + ' ' + surname[i])
    sales_month.append(cnt_sale[i]/exp_month[i])

print(sales_month[2])

4.4

Мини-кейс №6

In [53]:
import math

table = {'id' : [1,2,3,4,5,6],
         'Стаж в компании (V)' : [24,44,6,67,10,12], 
         'Доходность за 6 месяцев (Y)' : [6500,870,12500,4400,0,3056],
         'Тип компании' : ['ip','ooo','ooo','ip','ip','ooo'],
         'Оборот средств за последние 6 месяцев (R)' : [4500,34500,220000,220,0,15600]}

rate = list()
k = 0 # коэффициент для ооо и ip
for i in range(len(table)):
    if table['Оборот средств за последние 6 месяцев (R)'][i] == 0:
        continue # спящих бизнесменов не берем в учет
    if table['Стаж в компании (V)'][i] < 13 and table['Тип компании'][i] == 'ip':
        k = 0.8 # понижающий кэф для ИП
    elif table['Стаж в компании (V)'][i] < 13 and table['Тип компании'][i] == 'ooo':
        k = 0.9 # понижающий кэф для ООО
    else:
        k = 1
    rate.append(round((math.log(table['Оборот средств за последние 6 месяцев (R)'][i],2)/((table['Стаж в компании (V)'][i]/table['Доходность за 6 месяцев (Y)'][i])+0.1))*k,2))

table['Рейтинг привлекательности'] = rate
print(table)

{'id': [1, 2, 3, 4, 5, 6], 'Стаж в компании (V)': [24, 44, 6, 67, 10, 12], 'Доходность за 6 месяцев (Y)': [6500, 870, 12500, 4400, 0, 3056], 'Тип компании': ['ip', 'ooo', 'ooo', 'ip', 'ip', 'ooo'], 'Оборот средств за последние 6 месяцев (R)': [4500, 34500, 220000, 220, 0, 15600], 'Рейтинг привлекательности': [117.04, 100.11, 158.96, 67.53]}

Урок 7 (Работа с текстовой информацией)

In [55]:
''' Создайте слайс, взяв символы с позиции [1:-2] из строки 'Привет, мой милый друг!' Определите длину данного слайса.'''

a = 'Привет, мой милый друг!'
print(len(a[1:-2]))

20

In [57]:
''' Пусть у вас есть строка:
x = "All my troubles seemed so far away"
Удалите только последнее слово (away), пробел перед ним оставьте.
Какова длина получившейся строки?'''

x = "All my troubles seemed so far away"
x = x[:-4]
print(len(x))

30

In [65]:
''' Определите, на каком месте стоит символ 'о' в строке 'In the town where I was born', если взять каждый второй символ этой строки, начиная с первого.
Для поиска используйте метод find().'''

x = 'In the town where I was born'
print(x[0:len(x):2].find('o'))

4

In [75]:
''' Дан список строк:
['Груз равен: 240 кг', 'Груз равен: 340 кг', 'Груз равен: 5 кг', 'Груз равен: 1056 кг']
Оставьте в каждой строке только число — вес груза — и посчитайте средний вес.'''

import re

x = ['Груз равен: 240 кг', 'Груз равен: 340 кг', 'Груз равен: 5 кг', 'Груз равен: 1056 кг']
summary = 0
count = 0


for i in range(len(x)):
    summary += int(re.findall(r'\d+', x[i])[0])
    count += 1

print(summary/count)

410.25

In [76]:
''' Пусть у вас есть строка
y = "In the town where I was born"
Возьмите каждый второй символ строки, начиная с первого символа (индекса 0). Сколько букв “a” содержится в этой части?'''

y = "In the town where I was born"
print(y[0:len(y):2].count('a'))

0

In [79]:
''' Определите, сколько пробелов в строке 'In the town where I was born', если взять каждый второй символ этой строки, начиная со второго.'''

y = "In the town where I was born"
print(y[1:len(y):2].count(' '))

4

In [80]:
''' Определите, на каком месте стоит символ 'I' в строке 'In the town where I was born', ели взять каждый второй символ этой строки, начиная со второго. Для поиска используйте метод find().'''
# опечатка в задании 7 
y = "In the town where I was born"
print(y[1:len(y):2].find('l'))

-1

In [86]:
''' Создайте строку с текстом: 'Все счастливые семьи похожи друг на друга, каждая несчастливая семья несчастлива по-своему. Все смешалось в доме Облонских. Жена узнала, что муж был в связи с бывшею в их доме француженкою-гувернанткой, и объявила мужу, что не может жить с ним в одном доме. Положение это продолжалось уже третий день и мучительно чувствовалось и самими супругами, и всеми членами семьи, и домочадцами.'
'''

x = 'Все счастливые семьи похожи друг на друга, каждая несчастливая семья несчастлива по-своему. Все смешалось в доме Облонских. Жена узнала, что муж был в связи с бывшею в их доме француженкою-гувернанткой, и объявила мужу, что не может жить с ним в одном доме. Положение это продолжалось уже третий день и мучительно чувствовалось и самими супругами, и всеми членами семьи, и домочадцами.'

x = x.lower()

print(x.count('о'))

29

In [87]:
''' Когда в тексте первый раз встречается строчная(маленькая) буква 'о'? '''

x = 'Все счастливые семьи похожи друг на друга, каждая несчастливая семья несчастлива по-своему. Все смешалось в доме Облонских. Жена узнала, что муж был в связи с бывшею в их доме француженкою-гувернанткой, и объявила мужу, что не может жить с ним в одном доме. Положение это продолжалось уже третий день и мучительно чувствовалось и самими супругами, и всеми членами семьи, и домочадцами.'

x = x.lower()

print(x.find('о'))

22

In [89]:
''' Вам дан список x = ['23', '45', 'a', '46'].
Напишите код, который переберет каждый элемент списка и проверит, является ли он числом. Если значение не числовое, его необходимо заменить на 5.
После проверки всех значений в списке, посчитайте сумму всех элементов в списке, выведите результат и запишите получившееся число в поле ответа. '''

x = ['23', '45', 'a', '46']

for i in range(len(x)):
    if x[i].isdigit() == False:
        x[i] = 5
    else:
        x[i] = int(x[i])
print(sum(x))

119

Урок 8 (Списки)

In [98]:
''' Задача 1-4 '''

x = [345, 34, 14]
y = [9, 47, -4]

z = []
j = []

for i in range(len(x)): # перебираем в цикле только первые два элемента
    a = x[i]+y[i] # суммируем элементы
    if a < 50:
        z.append(a)
    else:
        j.append(a)
print(z, j)

[10] [354, 81]

In [102]:
''' Задача 5 '''

a = []
b = []


for i in range(50,151):
    if i%21 == 0:
        a.append(i)
    elif i%15 == 0:
        b.append(i)

print(a, b)

[63, 84, 105, 126, 147] [60, 75, 90, 120, 135, 150]

In [103]:
''' Задача 6 '''

x = [63, 84, 105, 126, 147]
y = [60, 75, 90, 105, 120, 135, 150]

# Преобразуем y в множество для быстрой проверки наличия элемента
set_y = set(y)

# Отбираем элементы из x, которые не встречаются в y, делятся на 21, не делятся на 15
filtered = [i for i in x if i not in set_y and i % 21 == 0 and i % 15 != 0]

print(filtered)      # Выводим полученный список
print(filtered[0])   # Выводим первый элемент списка

[63, 84, 126, 147]
63

In [104]:
''' Задача 7 '''

x = '34/67/89/1'
x = x.split('/') # задаем, что символ "/" является разделителем
x_int=[]
for i in range(len(x)):
    x_int.append(int(x[i])) # приводим каждый разделенный элемент к типу данных int и добавляем в новый список
print(x_int)

['34', '67', '89', '1']

In [105]:
''' Задача 8 '''

import math

x_int=[34, 67, 89, 1]
new_list = []

for i in range(len(x_int)):
    math.sqrt(x_int[i])
    if math.sqrt(x_int[i]) < 5:
        new_list.append(math.sqrt(x_int[i]))
print(new_list)

[1.0]

In [106]:
''' Бонус 2 '''

x = [345, 34, 14]
y = [9, 47, -4]
z = [x[i] + y[i] for i in range(len(x))]

print(z)

[354, 81, 10]

In [107]:
''' Бонус 3 '''

x = [345, 34, 14]
y = [9, 47, -4]
z = [x[i] + y[i] for i in range(len(x)) if x[i] + y[i] < 50]

print(z)

[10]

In [110]:
''' Бонус 4 '''

x = [345, 34, 14]
y = [9, 47, -4]
z = [x[i] + y[i] for i in range(len(x)) if x[i] + y[i] < 50]
c = [x[i] + y[i] for i in range(len(x)) if x[i] + y[i] > 50]

print(z)
print(c)

[10]
[354, 81]

In [111]:
''' Бонус 5 '''

z = [i for i in range(50,151) if i%21 == 0]
c = [i for i in range(50,151) if i%15 == 0]

print(z)
print(c)

[63, 84, 105, 126, 147]
[60, 75, 90, 105, 120, 135, 150]

In [117]:
''' Бонус 7 '''
x = '34/67/89/1'
x_int = [int(i) for i in x.split('/')]
print(x_int)

[34, 67, 89, 1]

In [118]:
''' Бонус 8 '''
import math
x_int=[34, 67, 89, 1]
x_int_sqrt = [math.sqrt(i) for i in x_int if math.sqrt(i) < 5]
print(x_int_sqrt)

[1.0]

In [131]:
''' Дано два списка [123,56,23,23,67,23] и [22,33,78,123,56,23]
Сложите соответствующие элементы друг с другом, а затем возведите каждое из получившихся значений в квадрат.
Создайте два списка: в первый положите значения >15000, а в другой — < 15000.
Из списка со значениями <15000 выведите элемент с индексом 1.'''

x = [123,56,23,23,67,23]
y = [22,33,78,123,56,23]
z = []

for i in range(len(x)):
    z.append(pow(x[i] + y[i], 2))

o = []
j = []

for i in range(len(z)):
    if z[i] > 15000:
        o.append(z[i])
    elif z[i] < 15000:
        j.append(z[i])
print(j)

[7921, 10201, 2116]

In [132]:
''' Дано два списка [123,56,23,23,67,23] и [22,33,78,123,56,23] . Объедините их без образования вложенных списков.
Отсортируйте получившийся список по возрастанию и выведете в ответ значение с индексом 3.'''

x = [123,56,23,23,67,23]
y = [22,33,78,123,56,23]

x.extend(y)
x = sorted(x, reverse = False)
print(x[3])

23

In [133]:
''' Дано два списка [123,56,23,23,67,23] и [22,33,78,123,56,23].
Объедините их без образования вложенных списков или используйте ранее созданный вами список.
Выведете максимальное значение и запишите его в ответ. '''

x = [123,56,23,23,67,23]
y = [22,33,78,123,56,23]

x.extend(y)
x = sorted(x, reverse = False)
print(max(x))

123

In [137]:
''' Создайте с помощью функции range() список list_x из всех целых чисел от 1 до 300 (включительно). Числа в списке должны располагаться по возрастанию.
Затем создайте список list_y из целых четных чисел, лежащих между 115 до 229. Числа также должны располагаться по возрастанию.
Найдите пересечение списков list_z
Посчитайте сумму всех чисел, которые находятся в этом пересечении.
Извлеките из полученной суммы квадратный корень и округлите результат в большую сторону. '''

import math

list_x = [i for i in range(1,301)]
list_y = [i for i in range(115,230) if i%2 == 0]

list_z = list(set(list_x).intersection(set(list_y)))

print(math.ceil(math.sqrt(sum(list_z))))

100

In [140]:
''' Отсортируйте по возрастанию список list_z из прошлого задания.
Создайте новый список res.
Добавьте в res вложенный списки из прошлого задания: первым элементом будет список list_x, а вторым — список list_z.
Выведите значение с индексом 33 из второго вложенного списка в список res. '''

import math

list_x = [i for i in range(1,301)]
list_y = [i for i in range(115,230) if i%2 == 0]

list_z = list(set(list_x).intersection(set(list_y)))

res = []
res.append(list_x)
res.append(list_z)
print(res[1][33])

194

In [145]:
''' Дана строка '34,36,45,37,45,23,4', содержащая данные о количестве часов, отработанных сотрудниками за неделю.
Также есть список данных за предыдущую неделю: [22,33,22,45,34,7,6].
Посчитайте общую сумму человеко-часов за две недели для всех сотрудников. '''

x = '34,36,45,37,45,23,4'
y = [22,33,22,45,34,7,6]

z = [ int(i) for i in x.split(',')]

print(sum(z + y))

393